@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#FFFFFF];
}

.fade-in {
  animation: fade-in 1s forwards ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}